body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65%;
    padding: 32px 16px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 15px;
}

#buttoncontainer {
    display: flex;
    flex-direction: row;
    height: 75%;
}

#screen {
    color: black;
    font-size: 350%;
    height: 25%;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#screendiv {
 text-align: right;
 width: 95%;
 height: 60%;
 background-color: white;
 border-radius: 10px;
 padding: 4px 16px;
}

#numberbuttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    width: 23%;
    height: 17%;
    border-radius: 10px;
    background-color: white;
    color: blue;
    font-weight: bold;
    font-size: 3em;
    box-sizing: border-box;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

button:hover {
    border: 2px solid blue;
    background-color: blue;
    color: white;
}

#number0 {
    flex-basis: 48%;
}
.operandbutton, #equalbutton, #clearcurrent {
    color: red;
}

.operandbutton:hover, .operandbutton.active, #equalbutton:hover, #clearcurrent:hover {
    color: white;
    background-color: red;
    border: 2px solid red;
}

.firstrow {
    font-size: 2em;
}

#clear {
    color: white;
    background-color: red;
    border: 2px solid red;
}

#clear:hover {
    background-color: white;
    color: red;
}